<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
	</configSections>
	
		<log4net>
		<!-- RollingFileAppender appends to a log  - file size is handled -->
		<appender name="CopySvc_RollLogFile" type="log4net.Appender.RollingFileAppender">
			<file value="d:\\LogFiles\\CEFFileCopySvc\\CEFFileCopySvc.log"/>
			<appendToFile value="true"/>
			<maximumFileSize value="1000KB"/>
			<maxSizeRollBackups value="1"/>
			<layout type="log4net.Layout.XMLLayout">
				<conversionPattern value="%d{dd MMM yyyy HH:mm:ss} %level %thread %logger - %message%newline"/>
			</layout>
		</appender>
		<logger name="FileCopySvcLogger">
			<level value="INFO"/>
			<appender-ref ref="CopySvc_RollLogFile"/>
		</logger>
	</log4net>
	<!--
ALL 
DEBUG 
INFO 
WARN 
ERROR 
FATAL 
OFF
-->
	
	<appSettings>
		<add key="ConfigFile" value="D:\GE_CEF\VSS_ROOT_FOLDER\Internal Sites\FileCopySvc\FileCopySvc\bin\CEFFileCopySvc_config.xml"></add>
		<add key="ServiceSleepInterval" value="60000"></add>
	</appSettings>
</configuration>
