<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DebugLogFilePath_LogForNet" value="c:\\LogFiles\\log4net_DLL.config" />
    <add key="Debug\DebugLevel" value="3" />
    <add key="Debug\DebugFile" value="E:\\Sanjay_Not_In_Use\\SuperTrump\\SourceCode\\debug\\BSCEFSuperTrumpLog.txt" />
    <add key="Debug\MaxDebugFileSize" value="10000000" />
    <add key="FilePath\PRMFilePath" value="E:\\Sanjay_Not_In_Use\\SuperTrump\\SourceCode\\debug" />
    <add key="FilePath\ReportTemplatePath" value="E:\\Sanjay_Not_In_Use\\SuperTrump\\SourceCode\\ReportTemplates" />
    <add key="FilePath\SchemaFilePath" value="E:\\Sanjay_Not_In_Use\\SuperTrump\\SourceCode\\Schemas" />
    <add key="FilePath\PRMTemplatePath" value="E:\\Sanjay_Not_In_Use\\SuperTrump\\SourceCode\\ReportTemplates" />
    <add key="QInfo\ResponseQueueManager" value="HUBDEV" />
    <add key="QInfo\ResponseQueue" value="NT.SUPERTRUMP.REQUEST.DEV" />
    <add key="QInfo\RequestQueueManager" value="HUBDEV" />
    <add key="QInfo\RequestQueue" value="NT.SUPERTRUMP.REQUEST.DEV" />
  </appSettings>
</configuration>
