<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
	</configSections>
	<log4net>
		<appender name="SuperTRUMP_DebugLogFile" type="log4net.Appender.RollingFileAppender">
			<file value="D:\GE GDC Working Folder\pulak.mishra\Pricing\SuperTRUMPWebService\BSCEFSuperTrump_latest\Log_File\SuperTRUMP_DebugLogFile.txt" />
			<appendToFile value="true" />
			<maximumFileSize value="1000KB" />
			<maxSizeRollBackups value="1" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date %level  %logger[%method:%line] - %message%n" />
			</layout>
		</appender>
		<logger name="SuperTRUMP">
			<level value="ALL" />
			<appender-ref ref="SuperTRUMP_DebugLogFile" />
		</logger>
	</log4net>
	<!--
ALL 
DEBUG 
INFO 
WARN 
ERROR 
FATAL 
OFF
-->
</configuration>
